.timeTableFormContainer {
  height: 92vh;
  flex-direction: row;
  display: flex;
}
.subjectInput {
  width: 150px;
  margin: auto;
}
.InputParentSubject {
  text-align: center;
}
.timeformtable {
  width: 100%;
  height: 85%;
}
.columnplus {
  margin: 20px;
  height: 40px;
  width: 40px;
}
.tablesubmitbutton {
  left: 50%;
  position: absolute;
}
.timeformtableparent {
  width: 100%;
  height: 100%;
}
