.timetablecontainer {
  height: 100%;
  width: 82%;
  padding: 20px;
}
.selectsemester {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1%;
}
.time {
  text-align: center;
  height: 92px;
}

.tableSubject {
  width: 90px;
  white-space: pre-wrap;
}
.modalcss {
  width: 90vw; /* Occupy the 90% of the screen width */
  max-width: 90vw;
}
