.navbar {
  background-color: white;
  height: 80px;
  width: 100%;
  display: flex;
  position: fixed;
  top: 0;
  justify-content: flex-start;
  align-items: center;
  padding-left: 1vw;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.menu-bars {
  font-size: 4vh;
  background: none;
}
.nav-menu {
  background-color: white;
  width: 18%;
  height: 100%;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  transition: 850ms;
}
@media screen and (max-width: 720px) {
  .nav-menu {
    width: 30%;
  }
}

.nav-menu-items {
  width: 90%;
  padding: 0;
  justify-content: center;
}

.nav-profile {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  height: 120px;
  margin-bottom: 20%;
  margin-top: 20%;
}
.nav-profile a {
  color: #3e4b5b;
  text-decoration: none;
}
.nav-profile span {
  display: block;
  text-align: center;
}
.nav-text {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  list-style: none;
  height: 60px;
  margin-bottom: 20%;
}
.nav-text a {
  text-decoration: none;
  color: #3e4b5b;
  font-size: 1em;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  padding-left: 10%;
  border-radius: 4px;
}

.nav-text a:hover {
  background-color: #1a55e3;
  color: white;
}
