.teacherpage {
  height: 100%;
  width: 100%;
  padding: 20px;
}
.teachertableparent {
  height: 92%;
}
.topic {
  width: 250px;
}
.topic a {
  white-space: pre-wrap;
}
.plagiarismicon {
  align-items: center;
  justify-content: center;
  display: flex;
}
.sortcontainer {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1%;
}
.sortcontainerchild{
  display: flex;
  justify-content: space-between;
  width: 30%;
}
