.noticecontainer {
  height: 100%;
  width: 82%;
  padding: 20px;
}
.noticetableparent {
  display: flex;
  flex-flow: column;
  height: 100%;
}
table {
  height: 100%;
  width: 100%;
}
tbody {
  display: block;
  overflow-y: auto;
  height: 100%;
  padding-bottom: 100px;
}
thead,
tbody tr {
  display: table;
  width: 100%;
  table-layout: fixed; /* even columns width , fix width of table too*/
}
thead {
  width: calc(
    100% - 1em
  ); /* scrollbar is average 1em/16px width, remove it from thead width */
}
.subject {
  width: 600px;
}
.subject a {
  white-space: pre-wrap;
}
.createnotice {
  margin-bottom: 10px;
}
